<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.tiny.cloud/1/2r9rvl6jxb7kh0w72k2niob4t38vz0zopqp9enxil2n8yxi4/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript" src="./js/tinymce.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./js/article-load.js"></script>
    <script src="./js/article-page.js"></script>
    <script src="https://kit.fontawesome.com/54f7366ee8.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/notification-management.js"></script>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="navbar">
        <div id="nav-left">
            <a href="./"><i class="fa-solid fa-house"></i> Home</a>
            <a href="./"><i class="fa-solid fa-book"></i> Articles</a>
        </div>
        <div id="nav-right">
        {{#if user}}
            
            <div class="dropdown">
                 <iframe onload="getNumberOfNotifications({{user.userID}})" style="display: none"></iframe>
                <button onclick="getNumberOfNotifications({{user.userID}})" class="dropbtn"><i class="fa-solid fa-bell"></i>Notifications: <b id="number-of-notifications"></b> <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <div id="notification-details"></div>
                </div>
            </div>


            <a href="./createArticle"><i class="fa-solid fa-book-open"></i> Create Article</a>
            <div class="dropdown">
                <button class="dropbtn"><i class="fa-solid fa-user"></i> {{user.fName}}
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="./profile?id={{user.userID}}"><i class="fa-solid fa-user-astronaut"></i> Profile  </a>
                    <a href="./analytics?userId={{user.userID}}"><i class="fa-solid fa-chart-line"></i> Analytics</a>
                    <a href="./logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                </div>
            </div>
            {{else}}
            <a href="./login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Log In</a>
            <a href="./signup"><i class="fa-solid fa-user-plus"></i> Sign Up</a>
        {{/if}}
        </div>
    </div>

    <div class="header">
        <div class="header-left"><span>TheHours</span></div>
        <div class="header-middle"></div>
        <div class="header-right"><span>Insight &</span><br><span>Opinion</span><br><span>Blog</span></div>
    </div>

    {{{body}}}

    <div class="footer">
        <p>Created by Group 5</p>
    </div>
</body>

</html>