<div>
    <div class="header-image">
        <img src="./images/analytics.jpg" width=100%>
        <div><span>Analytic</span></div>
    </div>

    <div class="analytics-body">
        <div class="analytics-body-left">
            <h1>Summary </h1>
            <div class="analytics-number-card">
                <span id="followNum">{{followersNumber}}</span>
                <p>Followers</p>
            </div>
            <div class="analytics-number-card">
                <span>{{commentsNumber}}</span>
                <p>Comments</p>
            </div>
            <div class="analytics-number-card">
                <span>{{likesNumber}}</span>
                <p>Likes</p>
            </div>
        </div>

        <div class="analytics-body-middle">
            <h1>Top 3 popular articles </h1>
            {{#each popularArticles}}
                <div class="analytics-article-card">
                    <div class="analytics-article-card-body">
                        <h2>{{this.title}}</h2>
                        <p>{{{this.content}}}</p>
                    </div>
                    <div class="analytics-article-card-bottom-line"></div>
                </div>
            {{/each}}
        </div>

        <div class="analytics-body-right">
            <h1>Trending </h1>
            <div class="analytics-graph-card">
                <canvas id="commentChart" width="200" height="120"></canvas>
                <p>Note: only show data from the past 5 dates.</p>
            </div>
            <div class="analytics-graph-card">
                <canvas id="subscribeChart" width="200" height="120"></canvas>
            </div>
        </div>

    </div>
</div>

<script>
    const commentChart = document.getElementById('commentChart').getContext('2d');
    const subscribeChart = document.getElementById('subscribeChart').getContext('2d');

    const commentCanvasX = []
    const commentCanvasY = []
    {{#each commentCountByDay}}
    commentCanvasX.push("{{this.date}}");
    commentCanvasY.push({{this.count}});
    {{/each}}

    const subscribeCanvasX = []
    const subscribeCanvasY = []
    {{#each subscribeCumulativeCount}}
    subscribeCanvasX.push("{{this.date}}");
    subscribeCanvasY.push({{this.cumulativeCount}});
    {{/each}}


    const myChart1 = new Chart(commentChart, {
        type: 'bar',
        data: {
            labels: commentCanvasX,
            datasets: [{
                label: 'Number of comments',
                data: commentCanvasY,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const myChart = new Chart(subscribeChart, {
        type: 'line',
        data: {
            labels: subscribeCanvasX,
            datasets: [{
                label: 'Total subscribers',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: subscribeCanvasY,
            }]
        },
        options: {}}
    );

</script>