{{!-- Page to display an article --}}
<script type="text/javascript" src="./js/comments.js"></script>

{{#if deleteMessage}}
    <div class="alert-message">
        <span class="alert-message-close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{deleteMessage}}
    </div>
{{/if}}
<div class="details-background">
    <div class="details-container">
        <div class="details-title">
            <h1>{{articleInfo.title}}</h1>
        </div>
        <div class="details-author">
            <div class="details-author-left">
                <span>
                    <img src="{{articleInfo.avatarFilePath}}" alt="" class="avatar">
                </span>
                <span>
                    <a href="./profile?id={{articleInfo.authorID}}">{{articleInfo.userName}}</a>
                </span>
                <span style="margin-left: 10px">
                    {{#if user}}
                        {{#ifCond user.userID '==' articleInfo.authorID}}
                        {{!-- Do not display any buttons here as user is the author and cant subscribe to themself --}}
                        {{else}}
                            {{#if userHasSubscribed}}
                                <div>
                                <button id="subscribe-button" onclick="subscribeAuthor({{articleInfo.authorID}}, {{user.userID}})" >Unsubscribe</button>
                            </div>
                            {{else}}
                                <div>
                                <button id="subscribe-button" onclick="subscribeAuthor({{articleInfo.authorID}}, {{user.userID}})" >Subscribe</button>
                            </div>
                            {{/if}}
                        {{/ifCond}}
                    {{/if}}
                </span>
            </div>
            <div class="details-author-right">
                <span class="details-likes-count">
                    <i class="fa-solid fa-heart"></i> <span id="total-likes-count">{{numberOfLikes}}</span> likes
                </span>
                <span class="details-author-date">
                    <i class="fa-solid fa-calendar-days"></i> {{articleInfo.publishDate}}
                </span>
            </div>
        </div>
        <div class="details-image">
            {{#if articleImages}}
                <img src="{{articleImages.path}}" alt="">
            {{/if}}
        </div>
        <div class="details-content">
            {{{articleInfo.content}}}
        </div>
        <div class="details-like">
            {{#if user}}
                <button id="like-button" class="details-like-button" onclick="likeArticle({{articleInfo.articleID}}, {{user.userID}})" >
                {{#if userHasLiked}}
                    <i class="fa-solid fa-heart-crack"></i> Unlike
                {{else}}
                    <i class="fa-solid fa-heart"></i> Like
                {{/if}}
                </button>
            {{/if}}
        </div>
        <br>
        {{#ifCond user.userID '==' articleInfo.authorID}}
            <div>
                {{!-- Edit Article --}}
                <div class="edit-article-button">
                    <a href="./editArticle?articleID={{articleInfo.articleID}}&articleAuthorID={{articleInfo.authorID}}"><button class="edit-button" id="edit-article-{{articleInfo.articleID}}">Edit Article</button></a>
                </div>

                {{!-- Delete Article --}}
                <div class="delete-article-button">
                    <p id="confirm-message-{{articleInfo.articleID}}"></p>
                    <button class="delete-button" id="delete-article-{{articleInfo.articleID}}" onclick="deleteArticle({{articleInfo.articleID}})">Delete Article</button>
                    <a href="./deleteArticle?articleID={{articleInfo.articleID}}&articleAuthorID={{articleInfo.authorID}}"><button id="confirm-delete-{{articleInfo.articleID}}" style="display: none">Yes - Delete the article</button></a>
                </div>
            </div>
        {{/ifCond}}
        <br>
        <br>
        <HR>
        <br>
        <div class="details-enter-comment">
            {{#if user}}
                <div>
                    <form action="./makeComment?articleID={{articleInfo.articleID}}" method="POST">
                        <label for="comment">Enter Comment:</label>
                        <textarea id="comment-text-box" onkeyup="checkCommentHasContent()" name="comment" rows="8" cols="50"></textarea>
                        <button id="comment-submit-button" type="submit">Post Comment</button>
                         <iframe onload="checkCommentHasContent()" style="display: none"></iframe> 
                    </form>
                </div>
            {{/if}}
        </div>
        <div class="details-comments">
            {{!-- Buttons to show or hide all comments - defaults to comments being visible
            with the "hide" button visible - onclick these switch --}}
            <h2>Comments</h2>
            <button class="details-comments-switch-button" id="hide-comments-button" onclick="hideComments()">
                <i class="fa-solid fa-caret-up"></i> Hide Comments
            </button>
            <button class="details-comments-switch-button" id="show-comments-button" onclick="showComments()" style="display: none">
                <i class="fa-solid fa-caret-down"></i> Show Comments
            </button>

            {{!-- List of all comments (or message saying comments are hidden) --}}

            <p id="comments-message"></p>
            <div id="comments-container">
                {{!-- if there are comments to display, they will show up here with appropraite
                nesting --}}
                {{#if commentsToDisplay}}
                {{!-- On load of the hidden iframe below the displayComments function is called. This generates
                comments to display, along with reply and delete buttons for each comment as required
                reply functions generate a reply form when reply is clicked. --}}
                    <iframe onload="displayComments({{articleInfo.articleID}}, window.location.href)" style="display: none"></iframe>

                {{else}}
                {{!-- display message if not comments have been made --}}
                    <p>No comments on this article. Yet.</p>
                {{/if}}

            </div>
        </div>
    </div>
</div>
