{{!-- Page to display an article --}}

<h3>{{deleteMessage}}</h3>

<div id="full-article-container">
    
    {{#ifCond user.userID '==' articleInfo.authorID}}
        <div class="delete-article-box">
            <p id="confirm-message-{{articleInfo.articleID}}"></p>
            <button id="delete-article-{{articleInfo.articleID}}" onclick="deleteArticle({{articleInfo.articleID}})">Delete Article</button>                    
            <a href="./deleteArticle?articleID={{articleInfo.articleID}}&articleAuthorID={{articleInfo.authorID}}"><button id="confirm-delete-{{articleInfo.articleID}}" style="display: none">Yes - Delete the article</button></a>
        </div>
    {{/ifCond}}



    <p>Article ID: {{articleInfo.articleID}}</p>
    <h1>Title: {{articleInfo.title}}</h1>
    
    <h4><a href="./profile?id={{articleInfo.authorID}}">Author: {{articleInfo.userName}}</a></h4>
    <img src="{{articleInfo.avatarFilePath}}" alt="" class="avatar">

{{!-- Subscribe to author function --}}
{{#if user}}
    {{#ifCond user.userID '==' articleInfo.authorID}}
        {{!-- Do not display any buttons here as user is the author and cant subscribe to themself --}}
    {{else}}
        {{#if userHasSubscribed}}
            <div>
                <button id="subscribe-button" onclick="subscribeAuthor({{articleInfo.authorID}}, {{user.userID}})" >Unsubscribe</button>
            </div>
        {{else}}
            <div>
                <button id="subscribe-button" onclick="subscribeAuthor({{articleInfo.authorID}}, {{user.userID}})" >Subscribe</button>
            </div>
        {{/if}}
    {{/ifCond}}
{{/if}}


    <p>Date: {{articleInfo.publishDate}}</p>

    <h5>Image:</h5>
    {{#if articleImages}}
        <img src="{{articleImages.path}}" alt="">
    {{else}}
        {{!-- NO IMAGE ON THIS ARTICLE --}}
    {{/if}}

    <p>Article content:</p>
    {{{articleInfo.content}}}

</div>

{{!-- Like Article Functions --}}
{{#if user}}
    {{#if userHasLiked}}
        <div>
            <button id="like-button" onclick="likeArticle({{articleInfo.articleID}}, {{user.userID}})" >Unlike</button>
        </div>
    {{else}}
        <div>
           <button id="like-button" onclick="likeArticle({{articleInfo.articleID}}, {{user.userID}})" >Like</button>
        </div>
    {{/if}}
{{/if}}



{{!-- Comment text boxes - if user if loged in --}}
{{#if user}}
    <div>
        <form action="./makeComment?articleID={{articleInfo.articleID}}" method="POST">
            <label for="comment">Enter Comment:</label>
            <textarea name="comment" rows="4" cols="50"></textarea>
            <button type="submit">Post Comment</button>
        </form>
    </div>
{{/if}}

{{!-- Display comments on article here --}}
<div>

    {{!-- Buttons to show or hide all comments - defaults to comments being visible
    with the "hide" button visible - onclick these switch --}}
    <button id="hide-comments-button" onclick="hideComments()">Hide Comments</button>
    <button id="show-comments-button" onclick="showComments()" style="display: none">Show Comments</button>
    
    {{!-- List of all comments (or message saying comments are hidden) --}}
    <h2>Comments</h2>
    <p id="comments-message"></p>


    <div id="comments-container">
    
    {{!-- if there are comments to display, they will show up here with appropraite
    nesting --}}
        {{#if commentsToDisplay}}
            {{#each commentsToDisplay}}
            <div class="top-level-comment">                
                <img src="{{this.avatarFilePath}}" alt="" class="avatar">
                <p>Publishdate ={{this.publishDate}}</p>
                <p>CommentID = {{this.commentID}}</p>
                <p>Content = {{this.content}}</p>
                {{#ifCond this.authorID '==' 1}}
                    {{!-- if the comment has been "deleted" - assigned to user 1 - do not show a user name or link to profile --}}
                {{else}}
                    <p> <a href="./profile?id={{this.authorID}}">Username = {{this.userName}}</a></p>
                {{/ifCond}}
                
                {{#ifCond this.authorID '==' 1}}
                    {{!-- if the comment is deleted, do not show delete or reply options --}}
                {{else}}
                    {{!-- If the current user is the author of the comment, or the author of the article
                    a delete comment button/function is avaiable --}}
                    {{#ifCond ../user.userID '==' this.authorID}}
                        <div class="delete-comment-box">
                            <p id="confirm-message-{{this.commentID}}"></p>
                            <button id="delete-comment-{{this.commentID}}" onclick="deleteComment({{this.commentID}})">Delete Comment</button>                    
                            <a href="./deleteComment?commentID={{this.commentID}}&commentAuthorID={{this.authorID}}&articleAuthorID={{../articleInfo.authorID}}&articleID={{this.articleID}}"><button id="confirm-delete-{{this.commentID}}" style="display: none">Yes - Delete the comment</button></a>
                        </div>
                    {{else}} {{#ifCond ../user.userID '==' ../articleInfo.authorID}}
                        <div class="delete-comment-box">
                            <p id="confirm-message-{{this.commentID}}"></p>
                            <button id="delete-comment-{{this.commentID}}" onclick="deleteComment({{this.commentID}})">Delete Comment</button>                    
                            <a href="./deleteComment?commentID={{this.commentID}}&commentAuthorID={{this.authorID}}&articleAuthorID={{../articleInfo.authorID}}&articleID={{this.articleID}}"><button id="confirm-delete-{{this.commentID}}" style="display: none">Yes - Delete the comment</button></a>
                        </div>
                        {{/ifCond}}
                    {{/ifCond}}

                    {{!-- If the current user viewing the page is logged in, they have the option to reply to 
                    top level, or level 1 comments (allow two levels of nesting) --}}
                    {{#if ../user}}
                    <div class="reply-box">
                        <button id="let-reply-{{this.commentID}}" onclick="letReply({{this.commentID}})">Reply</button>
                        
                        <form id="reply-form-{{this.commentID}}" action="./makeReply?articleID={{../articleInfo.articleID}}&parentID={{this.commentID}}&commentAuthorID={{../user.userID}}" method="POST" style="display: none">
                            <label for="reply">Enter Reply:</label>
                            <textarea name="reply" rows="4" cols="50"></textarea>
                            <button type="submit">Post Reply</button>
                        </form>
                        
                    </div>
                    {{/if}}
                {{/ifCond}}
            </div>
                
                {{!-- Display level 1 nested comments, if any
                this includes delete and reply functions as above --}}
                {{#if this.children}}
                    {{#each this.children}}
                    <div class="level-1-comment">
                        <img src="{{this.avatarFilePath}}" alt="" class="avatar">
                        <p>Publishdate ={{this.publishDate}}</p>
                        <p>CommentID = {{this.commentID}}</p>
                        <p>Content = {{this.content}}</p>
                        {{#ifCond this.authorID '==' 1}}
                            {{!-- if the comment has been "deleted" - assigned to user 1 - do not show a user name or link to profile --}}
                        {{else}}
                            <p> <a href="./profile?id={{this.authorID}}">Username = {{this.userName}}</a></p>
                        {{/ifCond}}

                        {{#ifCond this.authorID '==' 1}}
                        {{!-- if the comment is deleted, do not show delete or reply options --}}
                        {{else}}
                            {{#ifCond ../../user.userID '==' this.authorID}}
                                <div class="delete-comment-box">
                                    <p id="confirm-message-{{this.commentID}}"></p>
                                    <button id="delete-comment-{{this.commentID}}" onclick="deleteComment({{this.commentID}})">Delete Comment</button>                    
                                    <a href="./deleteComment?commentID={{this.commentID}}&commentAuthorID={{this.authorID}}&articleAuthorID={{../../articleInfo.authorID}}&articleID={{this.articleID}}"><button id="confirm-delete-{{this.commentID}}" style="display: none">Yes - Delete the comment</button></a>
                                </div>
                            {{else}} {{#ifCond ../../user.userID '==' ../../articleInfo.authorID}}
                                    <div class="delete-comment-box">
                                    <p id="confirm-message-{{this.commentID}}"></p>
                                    <button id="delete-comment-{{this.commentID}}" onclick="deleteComment({{this.commentID}})">Delete Comment</button>                    
                                    <a href="./deleteComment?commentID={{this.commentID}}&commentAuthorID={{this.authorID}}&articleAuthorID={{../../articleInfo.authorID}}&articleID={{this.articleID}}"><button id="confirm-delete-{{this.commentID}}" style="display: none">Yes - Delete the comment</button></a>
                                </div>
                                {{/ifCond}}
                            {{/ifCond}}

                            {{#if ../../user}}
                                <div class="reply-box">
                                    <button id="let-reply-{{this.commentID}}" onclick="letReply({{this.commentID}})">Reply</button>
                                    
                                    <form id="reply-form-{{this.commentID}}" action="./makeReply?articleID={{../../articleInfo.articleID}}&parentID={{this.commentID}}&commentAuthorID={{../../user.userID}}" method="POST" style="display: none">
                                        <label for="reply">Enter Reply:</label>
                                        <textarea name="reply" rows="4" cols="50"></textarea>
                                        <button type="submit">Post Reply</button>
                                    </form>
                                    
                                </div>
                            {{/if}}
                        {{/ifCond}}
                    </div>
                    
                    {{!-- Display level 2 nested comments, if any
                    this includes delete function as above --}}
                    {{#if this.children}}
                        {{#each this.children}}
                            <div class="level-2-comment">
                                <img src="{{this.avatarFilePath}}" alt="" class="avatar">
                                <p>Publishdate ={{this.publishDate}}</p>
                                <p>CommentID = {{this.commentID}}</p>
                                <p>Content = {{this.content}}</p>4
                                {{#ifCond this.authorID '==' 1}}
                                {{!-- if the comment has been "deleted" - assigned to user 1 - do not show a user name or link to profile --}}
                                {{else}}
                                    <p> <a href="./profile?id={{this.authorID}}">Username = {{this.userName}}</a></p>
                                {{/ifCond}}
                            
                                {{#ifCond this.authorID '==' 1}}
                                {{!-- if the comment is deleted, do not show delete or reply options --}}
                                {{else}}

                                    {{#ifCond ../../../user.userID '==' this.authorID}}
                                        <div class="delete-comment-box">
                                            <p id="confirm-message-{{this.commentID}}"></p>
                                            <button id="delete-comment-{{this.commentID}}" onclick="deleteComment({{this.commentID}})">Delete Comment</button>                    
                                            <a href="./deleteComment?commentID={{this.commentID}}&commentAuthorID={{this.authorID}}&articleAuthorID={{../../../articleInfo.authorID}}&articleID={{this.articleID}}"><button id="confirm-delete-{{this.commentID}}" style="display: none">Yes - Delete the comment</button></a>
                                        </div>
                                    {{else}} {{#ifCond ../../../user.userID '==' ../../../articleInfo.authorID}}
                                        <div class="delete-comment-box">
                                            <p id="confirm-message-{{this.commentID}}"></p>
                                            <button id="delete-comment-{{this.commentID}}" onclick="deleteComment({{this.commentID}})">Delete Comment</button>                    
                                            <a href="./deleteComment?commentID={{this.commentID}}&commentAuthorID={{this.authorID}}&articleAuthorID={{../../../articleInfo.authorID}}&articleID={{this.articleID}}"><button id="confirm-delete-{{this.commentID}}" style="display: none">Yes - Delete the comment</button></a>
                                        </div>
                                        {{/ifCond}}
                                    {{/ifCond}}
                                {{/ifCond}}
                            </div>
                        {{/each}}
                    {{/if}}
                    {{/each}}
                {{/if}}
            {{/each}}
        {{else}}
            {{!-- display message if not comments have been made --}}
            <p>No comments on this article. Yet.</p>
        {{/if}}
    </div>
</div>