{{!-- Page to display an article --}}
<script type="text/javascript" src="./js/comments.js"></script>

<h3>{{deleteMessage}}</h3>

<div id="full-article-container">
    
    {{#ifCond user.userID '==' articleInfo.authorID}}
        {{!-- Edit Article --}}
        <a href="./editArticle?articleID={{articleInfo.articleID}}&articleAuthorID={{articleInfo.authorID}}"><button id="edit-article-{{articleInfo.articleID}}">Edit Article</button></a>

        
        {{!-- Delete Article --}}
        <div class="delete-article-box">
            <p id="confirm-message-{{articleInfo.articleID}}"></p>
            <button id="delete-article-{{articleInfo.articleID}}" onclick="deleteArticle({{articleInfo.articleID}})">Delete Article</button>                    
            <a href="./deleteArticle?articleID={{articleInfo.articleID}}&articleAuthorID={{articleInfo.authorID}}"><button id="confirm-delete-{{articleInfo.articleID}}" style="display: none">Yes - Delete the article</button></a>
        </div>

    {{/ifCond}}



    <p>Article ID: {{articleInfo.articleID}}</p>
    <h1>Title: {{articleInfo.title}}</h1>
    
    <h4><a href="./profile?id={{articleInfo.authorID}}">Author: {{articleInfo.userName}}</a></h4>
    <img src="{{articleInfo.avatarFilePath}}" alt="" class="avatar">

{{!-- Subscribe to author function --}}
{{#if user}}
    {{#ifCond user.userID '==' articleInfo.authorID}}
        {{!-- Do not display any buttons here as user is the author and cant subscribe to themself --}}
    {{else}}
        {{#if userHasSubscribed}}
            <div>
                <button id="subscribe-button" onclick="subscribeAuthor({{articleInfo.authorID}}, {{user.userID}})" >Unsubscribe</button>
            </div>
        {{else}}
            <div>
                <button id="subscribe-button" onclick="subscribeAuthor({{articleInfo.authorID}}, {{user.userID}})" >Subscribe</button>
            </div>
        {{/if}}
    {{/ifCond}}
{{/if}}


    <p>Date: {{articleInfo.publishDate}}</p>

    <h5>Image:</h5>
    {{#if articleImages}}
        <img src="{{articleImages.path}}" alt="">
    {{else}}
        {{!-- NO IMAGE ON THIS ARTICLE --}}
    {{/if}}

    <p>Article content:</p>
    {{{articleInfo.content}}}

</div>

{{!-- Like Article Functions --}}
<div id="likes-container">
    <b id="likes-heading">Total likes:</b><b id="total-likes-count">{{numberOfLikes}}</b>
    {{#if user}}
        {{#if userHasLiked}}
            <div>
                <button id="like-button" onclick="likeArticle({{articleInfo.articleID}}, {{user.userID}})" >Unlike</button>
            </div>
        {{else}}
            <div>
            <button id="like-button" onclick="likeArticle({{articleInfo.articleID}}, {{user.userID}})" >Like</button>
            </div>
        {{/if}}
    {{/if}}
</div>


{{!-- Comment text boxes - if user if loged in --}}
{{#if user}}
    <div>
        <form action="./makeComment?articleID={{articleInfo.articleID}}" method="POST">
            <label for="comment">Enter Comment:</label>
            <textarea id="comment-text-box" onkeyup="checkCommentHasContent()" name="comment" rows="4" cols="50"></textarea>
            <button type="submit" id="comment-submit-button">Post Comment</button>
            <iframe onload="checkCommentHasContent()" style="display: none"></iframe>
        </form>
    </div>
{{/if}}

{{!-- Display comments on article here --}}
<div>

    {{!-- Buttons to show or hide all comments - defaults to comments being visible
    with the "hide" button visible - onclick these switch --}}
    <button id="hide-comments-button" onclick="hideComments()">Hide Comments</button>
    <button id="show-comments-button" onclick="showComments()" style="display: none">Show Comments</button>
    
    {{!-- List of all comments (or message saying comments are hidden) --}}
    <h2>Comments</h2>
    <p id="comments-message"></p>


    <div id="comments-container">
    {{!-- if there are comments to display, they will show up here with appropraite
    nesting --}}
        {{#if commentsToDisplay}}
        {{!-- On load of the hidden iframe below the displayComments function is called. This generates
        comments to display, along with reply and delete buttons for each comment as required
        reply functions generate a reply form when reply is clicked. --}}
        <iframe onload="displayComments({{articleInfo.articleID}})" style="display: none"></iframe>
        {{else}}
            {{!-- display message if not comments have been made --}}
            <p>No comments on this article. Yet.</p>
        {{/if}}

{{!-- Maybe add function here to get the ids position --}}

    </div>
</div>