<script type="text/javascript" src="./js/create-article-validation.js"></script>
<div class="container">
    
    <h1>Edit article</h1>
    <div>
        <form action="./editArticle?articleID={{articleToEdit.articleID}}" method="POST" enctype="multipart/form-data">
            <div>
                <label  for="articleTitle">Article Title:</label>
                <input value="{{articleToEdit.title}}" onkeyup="checkArticleContentAndTitle()" id="article-title" type="text" name="articleTitle" cols="50"><br>
            </div>

            <div>
                <textarea id="articleContentTinyMCETextArea" name="articleContent">{{articleToEdit.content}}</textarea>
            </div>
            
            <div>
                {{#if imagesToEdit}}
                <p>Current article image:</p>
                <img src="{{imagesToEdit.path}}" alt="">
                <br>
                {{else}}
                <p>No image currently on article</p>
                {{/if}}
                
                <label for="imageFileUpload">Upload a new image to overwrite the current image</label>
                <br>
                <input id="imageFileUpload" type="file" name="imageFileUpload" accept=".png,.jpg,.jpeg,.bmp,.gif">
                <p>Accepted file types are: .png, .jpg, .jpeg, .bmp, and .gif</p>
                <p>Note: Images greater than {{imageMaxWidth}}px width <i>or</i> {{imageMaxHeight}}px height will be resized automatically</p>
            
                <p>OR - tick box to delete current image without replacement</p>
                <label for="deleteImage">Delete current image without replacement: </label><input type="checkbox" id="deleteImage" name="deleteImage" value="1">
                <br>

            </div>

        <button id="article-submit-button" type="submit">Edit article</button>
        </form>
    </div>
</div>