<script type="text/javascript" src="./js/create-article-validation.js"></script>
<div>
    <div class="header-image">
        <img src="./images/edit-article.jpg" width=100%>
        <div><span>Create New Article</span></div>
    </div>
</div>

<div class="article-container">
    <div>
        <form class="create-article-form" action="./editArticle?articleID={{articleToEdit.articleID}}" method="POST" enctype="multipart/form-data">
            <div>
                <label  class="articles-title" for="articleTitle">Article Title:</label>
                <input value="{{articleToEdit.title}}" onkeyup="checkArticleContentAndTitle()" id="article-title" type="text" name="articleTitle" cols="50"><br>
                <p class="error-text" id="article-title-error" hidden>Error: Article title cannot be blank</p>
            </div>

            <div>
                <textarea id="articleContentTinyMCETextArea" name="articleContent">{{articleToEdit.content}}</textarea>
                <p class="error-text" id="article-content-error" hidden>Error: Article content cannot be blank</p>
            </div>
            
            <div class="article-instruction">
                {{#if imagesToEdit}}
                <p>Current article image:</p>
                <img src="{{imagesToEdit.path}}" alt="">
                <br>
                {{else}}
                <p>No image currently on article</p>
                {{/if}}
                
                <label for="imageFileUpload">Upload a new image to overwrite the current image</label>
                <br>
                <input id="imageFileUpload" type="file" name="imageFileUpload" accept=".png,.jpg,.jpeg,.bmp,.gif">
                <p>Accepted file types are: .png, .jpg, .jpeg, .bmp, and .gif</p>
                <p>Note: Images greater than {{imageMaxWidth}}px width <i>or</i> {{imageMaxHeight}}px height will be resized automatically</p>
            
                <p>OR - tick box to delete current image without replacement</p>
                <label for="deleteImage">Delete current image without replacement: </label><input type="checkbox" id="deleteImage" name="deleteImage" value="1">
                <br>

            </div>
        <br>

        <button id="article-submit-button" type="submit">Edit article</button>
        </form>
    </div>
</div>