<div class="header-image">
    <img src="./images/subscribe.jpg" width=100%>
    <div><span>Subscribe</span></div>
</div>

<div class="profile-body">
    <div class="profile-body-left">
        <h1>User</h1>
        <div class="profile-detail-card">
            <img class="avatar" id="user-image" src={{result.avatarFilePath}} />
            <h1 id="profile-name">{{result.name}}</h1>
        </div>

    </div>

    <div class="profile-body-right">
        <h1><i class="fa-solid"></i> Followers</h1>
        {{#each result.followers}}
            <div>
                <img class="avatar subscribe-list-avatar" src="{{this.avatarFilePath}}" alt="">
                <a href="./profile?id={{this.userID}}"><h3 class="subscribe-list-text"> {{this.fName}} {{this.lName}}</h3> </a>
                <button id="remove-subscriber-button" class="subscribe-button-{{this.userID}}" onclick="removeSubscriber({{this.userID}}, {{../user.userID}})" >Remove Subscriber</button>
                {{#ifCond this.userID '!=' ../user.userID}} 
                    {{#if isSubscribed}}
                        <button id="subscribe-button" class="subscribe-button-{{this.userID}}" onclick="subscribeUserFromList({{this.userID}}, {{../user.userID}})" >Unsubscribe</button>
                    {{else}}
                        <button id="subscribe-button" class="subscribe-button-{{this.userID}}" onclick="subscribeUserFromList({{this.userID}}, {{../user.userID}})" >Subscribe</button>
                    {{/if}}
                {{/ifCond}}
                
            </div>
            <HR id="HR">
        {{/each}}
    </div>

    <div class="profile-body-middle">
        <h1>Following</h1>
        {{#each result.following}}
            <div>
                <img class="avatar subscribe-list-avatar" src="{{this.avatarFilePath}}" alt="">
                <a href="./profile?id={{this.userID}}"><h3 class="subscribe-list-text"> {{this.fName}} {{this.lName}}</h3> </a>
                
                {{#ifCond this.userID '!=' ../user.userID}}  
                    {{#if isSubscribed}}
                        <button id="subscribe-button" class="subscribe-button-{{this.userID}}" onclick="subscribeUserFromList({{this.userID}}, {{../user.userID}})" >Unsubscribe</button>
                    {{else}}
                        <button id="subscribe-button" class="subscribe-button-{{this.userID}}" onclick="subscribeUserFromList({{this.userID}}, {{../user.userID}})" >Subscribe</button>
                    {{/if}}
                {{/ifCond}}
                
            </div>
            <HR id="HR">
        {{/each}}
    </div>
</div>

