<div class="header-image">
    <img src="./images/profile.jpg" width=100%>
    <div><span>Profile</span></div>
</div>

<div class="profile-body">
    <div class="profile-body-left">
        <h1>About</h1>
        <div class="profile-detail-card">
            <img class="avatar" src={{profileObj.avatarFilePath}} />
            {{#if isCurrentUser}}
            {{else}}
                {{#if isSubscribed}}
                    <button id="subscribe-button" onclick="subscribeAuthor({{profileObj.authorID}}, {{user.userID}})" >Unsubscribe</button>
                {{else}}
                    <button id="subscribe-button" onclick="subscribeAuthor({{profileObj.authorID}}, {{user.userID}})" >Subscribe</button>
                {{/if}}
            {{/if}}
            <h1 id="profile-name">{{profileObj.name}}</h1>
            <p>{{profileObj.bio}}</p>
        </div>
        <HR id="HR">

        <div class="profile-detail-card-middle">
            <div>
                <span class="profile-detail-card-left"><i class="fa-solid fa-book-open"></i> ARTICLES: </span> 
                <span class="profile-detail-span-right">{{profileObj.totalArticleNos}}</span>
            </div>
            <div>
                <span class="profile-detail-card-left"><i class="fa-solid fa-user-group"></i> FOLLOWERS: </span> 
                <span class="profile-detail-span-right">
                    <a href="./subscribes?userId={{profileObj.authorID}}">{{profileObj.totalFollowerNos}}</a>
                </span>
            </div>
            <div>
                <span class="profile-detail-card-left"><i class="fa-solid fa-glasses"></i> FOLLOWING: </span> 
                <span class="profile-detail-span-right">
                    <a href="./subscribes?userId={{profileObj.authorID}}">{{profileObj.totalFollowingNos}}</a>
                </span>
            </div>
        </div>
        <HR id="HR">

        <div class="profile-detail-card">
            <a href="./subscribes?userId={{profileObj.authorID}}">Subscription</a><br>
            {{#if isCurrentUser}}
                <a href="./editProfile">Edit Profile</a><br>
                <a href="./analytics?userId={{profileObj.authorID}}">Analytics</a><br>
                <a href="./changepassword">Change Password</a><br>
                <a href="./deleteuser?userId={{profileObj.authorID}}">Delete User</a>
            {{/if}}
        </div>

    </div>

    <div class="profile-body-middle">
        <h1>Articles</h1>
        {{#each profileObj.articles}}
            <div class="profile-article-card">
                <div class="profile-article-card-body" >
                    <a href="./getArticle?articleID={{this.articleID}}">
                        <h2> {{this.title}}</h2>
                    </a>
                    <p class="publishDate">{{this.publishDate}}</p>
                </div>
                <div class="profile-article-card-bottom-line"></div>
            </div>
        {{/each}}
    </div>


    <div class="profile-body-right">
        <h1><i class="fa-solid fa-pen-to-square"></i> Comments</h1>
            {{#each profileObj.comments}}
            <div class="profile-body-right-card">
                <div class="profile-body-comment-card">
                    <a href="./getArticle?articleID={{this.articleID}}">
                        <h2>{{this.title}}</h2>
                    </a>
                    <p>{{this.content}}</p>
                    <p class="publishDate">{{this.publishDate}}</p>
                    <HR id="HR">
                </div>
            </div>
            {{/each}}


        <h1><i class="fa-solid fa-heart"></i> Likes</h1>
            {{#each profileObj.likes}}
            <div class="profile-body-right-card">
                <div class="profile-body-like-card">
                    <h2>{{this.title}}</h2>
                    <p class="publishDate">{{this.publishDate}}</p>
                    <HR id="HR">
                </div>
            </div>
            {{/each}}
    </div>
</div>

