<div class="header-image">
    <img src="./images/profile.jpg" width=100%>
    <div><span>Profile</span></div>
</div>

<div>
    <div>
        <h2>{{profileObj.name}}</h2>
        <img class="avatar" src={{profileObj.avatarFilePath}} />
        <p>{{profileObj.bio}}</p>
    </div>

    <div>
        <p>Articles: {{profileObj.totalArticleNos}}</p>
        <p>Followers: {{profileObj.totalFollowerNos}}</p>
        <p>Following: {{profileObj.totalFollowingNos}}</p>
    </div>


</div>



<div>
    {{#if isCurrentUser}}
        <a href="./editProfile">Edit Profile</a>
        <a href="./analytics?userID={{profileObj.authorID}}">Analytics</a>
        <a href="./deleteuser?userID={{profileObj.authorID}}">Delete User</a> DELTE USER BUTTON LINK TO BE FIXED/CREATED
    {{else}}
        {{#if isSubscribed}}
            <button id="subscribe-button" onclick="subscribeAuthor({{profileObj.authorID}}, {{user.userID}})" >Unsubscribe</button>
        {{else}}
            <button id="subscribe-button" onclick="subscribeAuthor({{profileObj.authorID}}, {{user.userID}})" >Subscribe</button>
        {{/if}}
    {{/if}}
</div>
 <div>
     <h3>Articles</h3>
     <ul>
       {{#each profileObj.articles}}
            <li>{{this.title}}  {{this.publishDate}}</li>
       {{/each}}
     </ul>
    <h3>Comments</h3>
    {{#each profileObj.comments}}
        <div class="comment-card">
            <p>article: {{this.title}}</p>
            <p>Date: {{this.publishDate}}</p>
            <p>{{this.content}}</p>
        </div>
    {{/each}}

    <h3>Likes</h3>
    {{#each profileObj.likes}}
        <div class="like-card">
            <p>article: {{this.title}}</p>
            <p>Date: {{this.publishDate}}</p>
        </div>
    {{/each}}
</div>